.navbar {
    background-color: #f0ecfc;

}

.bakrLogo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


.navContainer {
    display: flex;
    justify-content: center;
}

.navContainer ul li a {
    color: black;
}

.nav-item:hover {
    text-decoration: underline;
}

.heroSection {
    height: 300px;
    margin-top: 55px;
}

.leftColumn {
    background-color: #f0ecfc;
    position: absolute;
    height: 300px;
}

.rightColumn {
    position: absolute;
    height: 300px;
}

.heroText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

#computerEng {
    color: #4066ff;
    text-decoration: underline;
}