body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #f0ecfc;

}

.bakrLogo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}


.navContainer {
    display: flex;
    justify-content: center;
}

.navContainer ul li a {
    color: black;
}

.nav-item:hover {
    text-decoration: underline;
}

.heroSection {
    height: 300px;
    margin-top: 55px;
}

.leftColumn {
    background-color: #f0ecfc;
    position: absolute;
    height: 300px;
}

.rightColumn {
    position: absolute;
    height: 300px;
}

.heroText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

#computerEng {
    color: #4066ff;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .imgColumn {
        display: flex;
        justify-content: center;
    }
}

.aboutColumn {
    margin-top: 5%;
    font-size: large;
}

.blueH2 {
    color: #4066ff;
}

.aboutLi {
    margin: 10px 0;
    font-size: large;
}

button {
    padding: 7px;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 10px;
}

.blueButton {
    background-color: #4066ff;
}

.blueButton:hover {
    color: #4066ff;
    background-color: white;
    border-color: #4066ff;
}

.eduText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.eduSection {
    background-color: #f0ecfc;
}

/* .expLeftCol {
    background-color: white;
    position: absolute;
    height: 300px;
}

.expRightCol {
    position: absolute;
    background-color: #f0ecfc;
    height: 300px;
} */